<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <div class="tablero">
      <div class="tablero__historico">
        <ion-text class="tablero__historico__formula">10 + 5</ion-text>
        <ion-text class="tablero__historico__resultado">15</ion-text>
      </div>
      <div class="tablero__formula">
        <ion-text>{{ formula }}</ion-text>
      </div>
      <div class="tablero__resultado">
        <ion-text>15</ion-text>
      </div>
    </div>
    @for (botones of board; track botones;) {
    <div class="board">
      @for (boton of botones; track boton){
      <div class="board__botones">
        <ion-button fill="outline" shape="round" size="default " class="board__botones__buton" (click)="anotarValor(boton)">
          @if(boton === "<"){
            <ion-icon name="backspace-outline"></ion-icon>
          }
          @else {
            {{ boton }}
          }
        </ion-button>
      </div>
      }
    </div>
    }
  </div>
</ion-content>